<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
  <!--  <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" /> -->
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print" />

      <link rel="stylesheet" type="text/css" href="stylesheets/myStyle.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/componentLink.css" />
  <link rel="stylesheet" type="text/css" href="stylesheets/animations.css" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="javascripts/libs/modernizr.custom.js"></script>
  <script src="javascripts/libs/modernizr-2.0.6.min.js"></script>

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>VitRine by Rine</title>
  </head>

  <body>

  <div class="header-container">
    <header class="wrapper clearfix"> 

        <h1 class="title">Vitrine</h1>
        <h2>site vitrine de moi</h2>
        <a href="https://github.com/Rine/vitRine" class="button"><small>View project on</small>GitHub</a>
   </header> 
  </div>
  
  <div class="main-container" >
    <div class="main inner-wrapper clearfix">    
      <article>
        <section>
          <p>Projet en construction !!!</p>
        </section>

        <section >

        
          <h3> Mais qui suis-je ?? </h3>
            <nav class="cl-effect-6">
              <div ng-click="clickOnMe()" ><a class="navButton"> ... Un parcours </a></div>
              <div > <a class="navButton"> ... Des réalisations </a></div>
              <div  > <a class="navButton"> ... Des lubies </a> </div>
              <div  > <a class="navButton"> ... Plein de voyages </a></div>

            </nav>
            <!--<label for="inputLogIn"> Nom d'utilisateur <span class="error_message"></span>: </label>
            <input type="text" placeholder="ex: Maïté" name="login" id="inputLogIn" ng-model="login"> -->
        
        </section>

      </article>

      <aside >
        <a href="https://github.com/Rine/vitRine/zipball/master" class="button">
          <small>Download</small>
          .zip file
        </a>
        <a href="https://github.com/Rine/vitRine/tarball/master" class="button">
          <small>Download</small>
          .tar.gz file
        </a>

        <p class="repo-owner"><a href="https://github.com/Rine/vitRine"></a> is maintained by <a href="https://github.com/Rine">Rine</a>.</p>
      </aside>   
    </div> 
  </div>

  <div class="footer-container">
    <footer class="footer wrapper clearfix">
      <h3>footer</h3>
    </footer>
  </div>

   
  <script type="text/javascript" src="javascripts/libs/angular.min.js"></script>
    <script type="text/javascript" src="javascripts/libs/app.js"></script>
    <script type="text/javascript" src="javascripts/libs/services/network.js"></script>
   <script type="text/javascript" src="javascripts/controllers/whoAmIController.js"></script>
   <script type="text/javascript" src="javascripts/controllers/meController.js"></script>

   <!--<script type="text/javascript" src="js/libs/controllers/PeopleListController.js"></script>    
  <script type="text/javascript" src="javascripts/controllers/signupController.js"></script> -->


  
  </body>
</html>