  
<section >

    <div class="container">
			<h3> Mais qui suis-je ?? </h3>
				<nav class="cl-effect-6">
					<div ng-click="clickOnMe()" ><a> ... Un parcours </a></div>
					<div > <a> ... Des réalisations </a></div>
					<div  > <a> ... Des lubies </a> </div>
					<div  > <a> ... Plein de voyages </a></div>

				</nav>
				<!--<label for="inputLogIn"> Nom d'utilisateur <span class="error_message"></span>: </label>
				<input type="text" placeholder="ex: Maïté" name="login" id="inputLogIn" ng-model="login"> -->
    </div>
</section>

