  
<section >

    <div class="container">

		<div style="background-color: blue;">

				<h3> Mais qui suis-je ?? </h3>
				<div  id="mainPanel">
				<nav ul class="cl-effect-6">
				
					<div ng-click="clickOnMe()" ><a> ... Un parcours </a></div>
					<div > <a> ... Des réalisations </a></div>
					<div  > <a> ... Des lubies </a> </div>
					<div  > <a> ... Plein de voyages </a></div>


					</ul>
</nav>
					<!--<label for="inputLogIn"> Nom d'utilisateur <span class="error_message"></span>: </label>
					<input type="text" placeholder="ex: Maïté" name="login" id="inputLogIn" ng-model="login"> -->
				</div>

		</div>
    </div>
</section>

