  
<section >

    <div class="container">

		<div style="background-color: blue;">

				<h3> Mais qui suis-je ?? </h3>
				<div  id="mainPanel">
					<ul>
					<li><a href="#" class="cl-effect-6" ng-click="clickOnMe()" > ... Un parcours</a> </li>
					<li class="cl-effect-6" ng-click="clickOnMyCreations()" > ... Des réalisations </li>
					<li class="cl-effect-6" ng-click="clickOnMyHobbies()" > ... Des lubies </li>
					<li class="cl-effect-6" ng-click="clickOnMyTravels()" > ... Plein de voyages </li>

					</ul>

					<!--<label for="inputLogIn"> Nom d'utilisateur <span class="error_message"></span>: </label>
					<input type="text" placeholder="ex: Maïté" name="login" id="inputLogIn" ng-model="login"> -->
				</div>

		</div>
    </div>
</section>

